{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}

<section id="about3">
  <div class="container">
    <div class="row justify-content-md-around justify-content-center align-items-center">
         <div class="col-11 col-md-5 my-3">
              <h1 class="text-title mb-3">The Finest Ways To Manage Your Finances</h1>
              <p class="text-muted mt-2 fs-5">Built for visually impaired users<br/> no hidden fees 
              </p>
         </div>
         <div class="col-11 col-md-5 my-3">
          <img src="https://images.unsplash.com/photo-1619540158579-1b4fd3529849?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=710&ixid=MnwxfDB8MXxyYW5kb218fHx8fHx8fHwxNjIxNDQ2NTU3&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1025" alt="" class="w-100 img-cover">
     </div>
    </div>
</div>
</section>



<section id="about1">
  <div class="container">
    <div class="row justify-content-md-around justify-content-center align-items-center">
         <div class="col-11 col-md-5 my-3">
              <img src="https://images.unsplash.com/photo-1619540158579-1b4fd3529849?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=710&ixid=MnwxfDB8MXxyYW5kb218fHx8fHx8fHwxNjIxNDQ2NTU3&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1025" alt="" class="w-100 img-cover">
         </div>
         <div class="col-11 col-md-5 my-3">
              <h1 class="text-title mb-3">Easy Access</h1>
              <p class="text-muted mt-2 fs-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed sollicitudin mi. Ut a lacus aliquet, 
                interdum lectus sit amet, sollicitudin metus. Mauris gravida efficitur velit, eget dictum est tempor a. Nam neque augue, eleifend non odio eu, 
                tincidunt mollis turpis. Vestibulum elementum nisl purus, et molestie velit tincidunt quis. Suspendisse in neque arcu. Etiam pellentesque congue 
                ipsum sit amet posuere. Phasellus nec sollicitudin lectus, at pharetra mi. Curabitur velit libero, auctor at pellentesque sit amet, pretium a ligula. 
                Proin rhoncus enim in velit porta convallis. Aenean ac lorem lorem. Cras eu nibh et tellus sollicitudin sollicitudin in facilisis orci. Suspendisse 
                felis nisi, porttitor nec semper et, egestas porttitor libero. Fusce non ullamcorper velit. Nulla vitae lectus accumsan, fermentum lorem sit amet, 
                venenatis quam.
                <br>
                Phasellus quis eleifend ligula, id tincidunt magna. Morbi rhoncus libero ac leo vulputate tincidunt. Nullam nec libero finibus, mollis neque sit amet, 
                sollicitudin neque. Vestibulum ullamcorper sagittis egestas. Curabitur at risus magna. Cras hendrerit libero tortor, a sagittis nisi maximus ut. Vestibulum ornare, 
                metus ac luctus aliquam, mauris dolor facilisis augue, ac tempus nisi nulla sed tellus.
              </p>
         </div>
    </div>
</div>
</section>


<section id="about2">
  <div class="container">
    <div class="row justify-content-md-around justify-content-center align-items-center">
         <div class="col-11 col-md-5 my-3">
              <h1 class="text-title mb-3">Explore All The Features</h1>
              <p class="text-muted mt-2 fs-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed sollicitudin mi. Ut a lacus aliquet, 
                interdum lectus sit amet, sollicitudin metus. Mauris gravida efficitur velit, eget dictum est tempor a. Nam neque augue, eleifend non odio eu, 
                tincidunt mollis turpis. Vestibulum elementum nisl purus, et molestie velit tincidunt quis. Suspendisse in neque arcu. Etiam pellentesque congue 
                ipsum sit amet posuere. Phasellus nec sollicitudin lectus, at pharetra mi. Curabitur velit libero, auctor at pellentesque sit amet, pretium a ligula. 
                Proin rhoncus enim in velit porta convallis. Aenean ac lorem lorem. Cras eu nibh et tellus sollicitudin sollicitudin in facilisis orci. Suspendisse 
                felis nisi, porttitor nec semper et, egestas porttitor libero. Fusce non ullamcorper velit. Nulla vitae lectus accumsan, fermentum lorem sit amet, 
                venenatis quam.
                <br>
                Phasellus quis eleifend ligula, id tincidunt magna. Morbi rhoncus libero ac leo vulputate tincidunt. Nullam nec libero finibus, mollis neque sit amet, 
                sollicitudin neque. Vestibulum ullamcorper sagittis egestas. Curabitur at risus magna. Cras hendrerit libero tortor, a sagittis nisi maximus ut. Vestibulum ornare, 
                metus ac luctus aliquam, mauris dolor facilisis augue, ac tempus nisi nulla sed tellus.
              </p>
         </div>
         <div class="col-11 col-md-5 my-3">
          <img src="https://images.unsplash.com/photo-1619540158579-1b4fd3529849?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=710&ixid=MnwxfDB8MXxyYW5kb218fHx8fHx8fHwxNjIxNDQ2NTU3&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1025" alt="" class="w-100 img-cover">
     </div>
    </div>
</div>
</section>


<section id="contactUs">
  <div class="container">
    <div class="row justify-content-md-around justify-content-center align-items-center">
         <div class="col-11 col-md-5 my-3">

<section class="contact section" id="contact">


        <div class="contact_container bd_grid">
          <form method="post" action="https://getform.io/f/d0e49285-52d1-481d-a594-b413d186d8b0">

        <div class="form-group my-4">
        <input type="text" class="control_input"  id="name" placeholder="Name" name="name">
        </div>

    <div class="form-group my-4">
      <input type="email" class="control_input" id="email"  placeholder="Email" name="email">
    </div>

       <div class="form-group my-4">
          <input class="control_input" id="subject" name="subject" placeholder="Subject" type="subject">
       </div>


        <div class="form-group my-4">
          <textarea class="control_input" id="desc" rows="5" placeholder="Message" name="desc"></textarea>
         </div>

        <button type="submit" class="control_button" data-aos="fade-right" data-aos-delay="450">Submit</button>

        </form>
            </div>
               </section>

         </div>
         <div class="col-11 col-md-5 my-3">
          <h1 class="text-title mb-3">Contact Us</h1>
          <h5 class="text-title mb-3">Need to talk to us directly?</h5>
          <p class="text-muted mt-2 fs-5">
            Looking for help with activities like logging in, setting up a direct deposit or replacing a lost/damaged card?
            <br><br>
            Please leave your full name, email address and message (optional). 
            <br> 
            One of our agents will contact you shortly! Please wait patiently.
          </p>
     </div>
    </div>
</div>
</section>




{% endblock body %}
